__pycache__/calculationsf.cpython-39.pyc
__pycache__/GUI.cpython-39.pyc
calculations/__pycache__/__init__.cpython-39.pyc
calculations/__pycache__/calculationsf.cpython-39.pyc
font/__pycache__/Font.cpython-39.pyc
guide/__pycache__/__init__.cpython-39.pyc
guide/__pycache__/GUI.cpython-39.pyc
imgs/comboBox/__pycache__/comboBoxUi.cpython-39.pyc
